################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~$gular app ideas.docx
/~$gular course review.docx
/~WRL0003.tmp
/~$gular course review.rtf
